name: Android CI

on:
  workflow_dispatch:

jobs:
  download:
    runs-on: ubuntu-latest
    steps:
    - name: Download All Artifacts
      uses: actions/download-artifact@v4
      with:
        artifact-ids: 4717325417
    - name: Display structure of downloaded files
      run: ls -R
