name: Android CI

on:
  workflow_dispatch:

jobs:
  download:
    needs: upload
    runs-on: ubuntu-latest
    steps:
    - name: Download All Artifacts
      uses: actions/download-artifact@v4
      with:
        artifact-ids: 12345
    - name: Display structure of downloaded files
      run: ls -R
