name: Build APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: clone repo
        run: |
          git clone https://github.com/kmedya-dev/browser.git

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install git+https://github.com/kmedya-dev/droidbuilder.git@refactor-II

      - name: Run install
        run: |
          droidbuilder install https://services.gradle.org/distributions/gradle-9.2.1-bin.zip
          droidbuilder install https://github.com/kmedya-dev/test/releases/tag/binary-v3/arm64-v8a.zip

      - name: Make dir
        run: |
          mkdir -p ~/.droidbuilder/local
          mkdir -p ~/.droidbuilder/gradle-9.2.1

      - name: Move some folder
        run: |
          mv ~/.droidbuilder/sources/gradle-9.2.1-bin/ ~/.droidbuilder/gradle-9.2.1/
          mv ~/.droidbuilder/sources/arm64-v8a ~/.droidbuilder/local/arm64-v8a

      - name: List files
        run: |
          ls -la ~/.droidbuilder/
          ls -la ~/.droidbuilder/local/arm64-v8a/

      - name: Set GRADLE_HOME and PATH
        run: |
          echo "GRADLE_HOME=$HOME/.droidbuilder/gradle-9.2.1" >> $GITHUB_ENV
          echo "$HOME/.droidbuilder/gradle-9.2.1/bin" >> $GITHUB_PATH

      - name: build apk
        run: |
          droidbuilder build android

      - name: Display build log
        run: |
          LOG_FILE=$(ls -t ~/.droidbuilder/logs/droidbuilder_*.log | head -n 1)
          if [ -f "$LOG_FILE" ]; then
            echo "--- Content of $LOG_FILE ---"
            cat "$LOG_FILE"
          else
            echo "No build log file found."
          fi
