name: Build APK

on:
  workflow_dispatch:

jobs:
  setup-android-tools:
    runs-on: ubuntu-latest

    steps:
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'

      - name: Print JAVA_HOME
        run: echo "$JAVA_HOME"

      # - name: Install dependencies
      #  run: |
      #    python -m pip install --upgrade pip
      #    pip install -e .

      - name: Download old artifact
        uses: actions/download-artifact@v4
        with:
          run-id: 19800327297
          name: apk
          path: ./downloaded


      - name: Run download check
        run: |
          droidbuilder download gradle-9.2.1

      - name: List files
        run: |
          ls -la

      # - name: build apk
      #  run: |
      #    droidbuilder build android
