name: Test File

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: searching
      run: |
        echo "Searching...."
        gcc -dumpmachine
