name: Build APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .

      - name: Run download check
        run: |
          droidbuilder download gradle-9.2.1
          droidbuilder download browser

      - name: Make dir
        run: |
          mkdir -p ~/.droidbuilder/build

      - name: Move some folder
        run: |
          mv ~/dxx/sources/gradle-9.2.1 ~/.droidbuilder/gradle-9.2.1
          mv ~/dxx/sources/browser ~/.droidbuilder/build/browser

      - name: List files
        run: |
          ls -la ~/.droidbuilder/
          ls -la ~/.droidbuilder/build/browser/

      - name: Set GRADLE_HOME and PATH
        run: |
          echo "GRADLE_HOME=$HOME/.droidbuilder/gradle-9.2.1" >> $GITHUB_ENV
          echo "$HOME/.droidbuilder/gradle-9.2.1/bin" >> $GITHUB_PATH

      - name: build apk
        run: |
          droidbuilder build android

      - name: Display build log
        run: |
          LOG_FILE=$(ls -t ~/.dxx/logs/download_*.log | head -n 1)
          if [ -f "$LOG_FILE" ]; then
            echo "--- Content of $LOG_FILE ---"
            cat "$LOG_FILE"
          else
            echo "No download log file found."
          fi
