name: Test File

on:
  workflow_dispatch:

jobs:
  check-size:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .

      - name: List files
        run: |
          ls -la ///home/runner/work/test/test
          ls -la cmdline-tools || true
          ls -la ~/.downloads/sources/ || true

      - name: Display download log
        run: |
          LOG_FILE=$(ls -t ~/.logs/download_*.log | head -n 1)
          if [ -f "$LOG_FILE" ]; then
            echo "--- Content of $LOG_FILE ---"
            cat "$LOG_FILE"
          else
            echo "No download log file found."
          fi
